*, html {
    box-sizing: border-box;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.carousel-image {
    width: 100%;
    height: 700px;
}

#carousel {
    background-color: black;
}

section {
    padding-top: 10px;
}

#categorias {
    height: 300px;
    background-color: rgb(226, 151, 12);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categoria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria-image {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

