*, html {
    box-sizing: border-box;
}

.carousel-caption {
    background-color: black;
    padding: 10px;
}

.carousel-image {
    width: 100%;
    height: 700px;
}

#carousel {
    background-color: black;
}