@import url('./styles/nav.css');
@import url('./styles/beer-options.css');
@import url('./styles/carousel.css');
@import url('./styles/categories-section.css');

@import url('./mesa_virtual/mesa_virtual.css');

:root {
    --pink: rgb(255, 114, 255);
    --blue: rgb(141, 202, 231);
    --dark-blue: rgb(58, 167, 218);
    --darker-blue: rgb(24, 133, 184);
}

*, html {
    box-sizing: border-box;
    margin: 0;
}

.custom-row {
    display: flex;
    flex-direction: row;
}

.custom-column {
    display: flex;
    flex-direction: column;
}


section {
    padding-top: 10px;
}

footer {
    height: 100px;
    background-color: var(--dark-blue);
    margin-top: 10px;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content span {
    color: white;
}

#fade-background {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
}

.m-10 {
    margin: 10px;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes fadeOutBackground {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}



