.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel {
    background-color: white;
    
}

.carousel-item {
    height: 40vh;
}

.carousel-section {
}